@charset "UTF-8";

@media screen and (min-width: 481px) {

    span#burguer{
        display: none;
    }
    #links{
        display: block;
        text-align: left;
    }
    header li{
        display: inline-block;
    }
    main{
        max-width: 481px;
        background-color: blue;
    }

}
