*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(194, 194, 194);
}

header{
    background-color: grey;
    text-align: center;
}

#burguer{
    background-color: rgb(29, 29, 29);
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: rgb(56, 56, 56);
}

menu{
    display: none;
}

menu li{
    list-style-type: none;
    background-color: rgb(56, 56, 56);
    border-top: 2px solid grey;
    
}

menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
menu li a:hover{
    background-color: white;
    color: rgb(56, 56, 56);
}

main{
    border-radius: 10px;
    width: 90vw;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

main p{
    padding-top: 10px;
    text-indent: 20px;
}